@font-face {
    font-family: myFont;
    src: url(myFont.ttf);
}

body {
    background-color: aqua;
    background-image: url("bg.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    margin: 0px;
    font-family: myFont, Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: row;
}

#bgimg {
    width: 100%;
    display: cover;
    z-index: -1;
}

a {
    color: #ffffff;
}

.left {
    left: 2%;
}
.right {
    right: 2%;
}
.top {
    top: 2%;
}
.bottom {
    bottom: 2%;
}

div.button {
    position: fixed;
    background-image: url("buttonBlack.png");
    background-size: 100%;
    background-position: center;
    padding: 3%;
    font-size: 2vw;
}
div.button:hover {
    background-image: url("buttonYellow.png");
    color: #000000;
    transition: 0.2s;
}
div.button:active {
    background-image: url("buttonYellow.png");
    color: #000000;
}

.icon-wrapper {
    text-align: center;
    width: 100%;
    position: fixed;
    top: 2%;
}
.icon {
    display: inline;
    width: 40px;
    height: 40px;
    padding: 0px 12px 0px 12px;
}