p.heading {
    margin: 40px 0px 12px 0px;
    text-align: center;
}

p.desc {
    margin: 0px 0px 0px 0px;
    text-align: center;
}

div.item-row {
    width: 100%;
    height: auto;
    text-align: center;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease;
}

div.item {
    padding: 10px;
    display: inline-block;
}

img.item-preview {
    border: 0;
    width: 300px;
    height: 300px;
    transition: 0.5s;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: 0.3s ease;
}

img.cover {
    z-index: 2;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.35)
}

img.flp {
    z-index: 1;
}

/* img.item-preview:hover {
    width: 370px;
    height: 370px;
} */

div.image-holder {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 10px;
}

div.image-holder:hover img.cover {
    left: -220px;
}

a.buy-bt {
    text-shadow: none !important;
    background-color: #494949 !important;
    background-image: none !important;
    border: 0px !important;
    font-family: myFont !important;
    border-radius: 0px !important;
    padding: 10px 23px !important;
    font-size: 20px !important;
    transition: 0.1s;
    margin: 10px;
}

a.buy-bt:hover {
    background-color: #afafaf !important;
}