body {
    background-image: url(assets/screenpixel2.png);
    background-size: 1px;
    margin: 0px;
    overflow: hidden;
    font-family:  'MS Gothic', 'ＭＳ ゴシック' , 'MS ゴシック' , Msgothic, sans-serif;
}
div.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.preview-container {
    border: 1px black solid;
    max-width: 84vh;
    flex: 1;
    display: flex;
    margin: 8vh 1vw 8vh 4vw;
    opacity: 0;
    animation-name: fade-bottom-up;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.3,.3,.16,1);
    animation-fill-mode: forwards;
    user-select: none;
    /*box-shadow: 3px 3px 20px #006eff2f;*/
}

@keyframes fade-bottom-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-left-in {
    from {
        opacity: 0;
        margin-left: 15px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }
}

div.product-info {
    max-width: 84vh;
    flex: 1;
    margin: 20vh 5vw 12vh 2vw;
    height: 68vh;
}

div.product-info-container {
    display: flex;
}

div.product-title {
    flex: 0.6;
}

div.product-desc {
    flex: 1;
    margin: 10px;
    opacity: 0;
    animation-name: fade-left-in;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

h1 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 25px;
    opacity: 0;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

h2 {
    font-size: 14px;
    font-weight: lighter;
    color: #5c5c5c;
    margin-bottom: 5px;
    opacity: 0;
    animation-name: fade;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

h3 {
    font-size: 10px;
    font-weight: lighter;
    color: #8d8d8d;
    margin: 3px 3px 20px 2px;
    opacity: 0;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    text-decoration: line-through;
}

h4 {
    font-size: 9px;
    font-weight: bold;
    color: #307cff;
    margin: 3px 3px 20px 0px;
    opacity: 0;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

p {
    font-size: 13px;
    margin-block-end: 1.2em;
    line-height: 18px;
}

input.buy {
    height: 30px;
    width: 139px;
    z-index: 1;
    opacity: 0;
}

div.buy-button {
    border-radius: 15px;
    border: 1px solid black;
    height: 30px;
    width: 140px;
    opacity: 0;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
    user-select: none;
}

div.buy-button p {
    font-size: 16px;
    position: absolute;
    margin: 6px 0px 6px 1px;
    width: 138px;
    text-align: center;
}

div.buy-button:hover {
    background-color: black;
}

div.buy-button:hover p {
    color: white;
}

div.buy-button:active {
    border-color: #307cff;
    background-color: #307cff;
}

div.buy-button:active p {
    color: white;
}

img {
    width: 100%;
}

@media only screen and (max-width: 920px) {
    body {
        overflow-y: visible;
    }

    div.main {
        display: block;
    }

    div.preview-container {
        width: 74vw;
        margin: 8vh 13vw 5vh 13vw;
        opacity: 1;
        animation: none;
    }

    div.product-info {
        margin: 0;
    }
    
    div.product-info-container {
        display: block;
    }

    div.product-title {
        flex: none;
        margin-left: 13vw;
    }

    div.product-desc {
        flex: none;
        margin: 30px 13vw 10px 13vw;
        opacity: 1;
        animation: none;
    }
    
    h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    h4 {
        margin: 3px 3px 20px 15vw;
    }

    input.buy {
        height: 40px;
        width: 50vw;
    }

    div.buy-button {
        height: 40px;
        width: 50vw;
        margin: 40px 12vw 0 12vw;
        border-radius: 20px;
    }

    div.buy-button p {
        font-size: 20px;
        position: absolute;
        margin: 10px 0px 10px 1px;
        width: 50vw;
        text-align: center;
    }
}